@import url(../assets/client.css);

.titlebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 36px;
  backdrop-filter: blur(16px);
  -webkit-app-region: drag;
}

.titlebar h1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: 400;
  color: var(--text);
  padding-left: 8px;
  margin: 0;
  line-height: 1;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}

.decorations {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-app-region: no-drag;
  border-radius: 8px;
}

.decorations img {
  width: 20px;
  padding: 4px;
  margin: 4px;
  border-radius: var(--size);
  background: var(--pri);
}

.decorations img:hover {
  background: var(--sec);
}
